.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #2e3333;
	padding: 15px 0;

	& > * {
		flex-basis: 50px;
		flex-grow: 1;
	}

	img {
		width: 50px;
		height: 35px;
		object-fit: cover;
		border-radius: 5px;
	}
}