@import "colors";
@import "sizes";

html {
    background-color: $primary-color;
    color: $text-color;
}

body {
    margin: 0;
}

.full-height {
    height: 100vh;
}

.button {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    
    svg {
        margin-right: 10px;
        vertical-align: middle;
    }
}

.button--large {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

td>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.full-height {
    min-height: 100vh;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    max-height: 86vh;
    overflow: auto;
    background-color: $primary-color;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000;
    color: $secondary-color;
    border: 2px solid $secondary-color;
}

.column-double {
    display: flex;
    flex-wrap: wrap;
    flex-direction: revert;
    gap: 20px;
    &>* {
        flex-basis: 330px;
        flex-grow: 1;
    }
}

.side-image {
	background-color: $primary-color;
    margin: 15px 0;
	width: 100%;
	object-fit: contain;
	border: 2px solid;
	display: block;
}

.side-image--product {
    height: 230px;
}