@import "colors";
@import "sizes";

html {
    background-color: $primary-color;
    color: $text-color;
}

body {
    margin: 0;
}

.full-height {
    height: 100vh;
}

.button {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 10px;
    cursor: pointer;
}

td > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.full-height {
    min-height: 100vh;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 400px;
	background-color: $primary-color;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #000;
	color: #000;
	border: 2px solid $secondary-color;
}