@import "colors";

.wrapper {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 8px;
}

.wrapper:not(.wide) {
    flex-direction: column;
}

.wide {
    flex-direction: row;
}

.title {
    font-size: 1.5rem;
    a {
        text-decoration: underline 3px;
        text-underline-offset: 10px;
        color: $primary-color;
    }
}

.info {
    color: $accent-color;
    font-weight: bold;
    font-size: 1.2rem;
}

.description {
    color: $primary-color;
}

.wide {
    flex-direction: row;

    .icon_wrapper {
        padding: 0 35px;
    }
}

.icon_wrapper {
    svg {
        font-size: 8rem;
        color: $primary-color;
    }
}

.readmore-link {
	color: $primary-color;
	position: absolute;
	right: 20px;
	top: 10px;

    svg {
        font-size: 3rem;
    }
}