.wrapper {
  font-size: 0.7rem;
  font-family: "Amiri";
  word-spacing: 0;
  width: 730px;
  height: 1032px;
  position: relative;
}

.rtl {
  direction: rtl;
}

.logoWrapper {
  text-align: left;
}

.logo {
  max-width: 160px;
}

.title {
  text-align: center;
  font-size: 1rem;
}

.id {
  text-align: end;
  margin-inline-end: 3px;
  margin-bottom: 10px;
}

.schemaTable {
  table-layout: fixed;
}

.schemaTable td:nth-child(odd),
p,
title,
.notes {
  font-weight: bold;
}

.schemaTable td:nth-child(1),
.schemaTable td:nth-child(3) {
  width: 15%;
}

.schemaTable td:nth-child(2) {
  width: 55%;
}

.schemaTable td:nth-child(4) {
  width: 15%;
  text-align: end;
}

.productsTable td,
.productsTable th {
  padding: 8px;
}

.productsTable {
  border-spacing: 0;

  th:nth-child(3) {
    width: 100px;
  }

  tr:not(.summaryRow) {
    th:nth-child(4),
    td:nth-child(4) {
      text-align: start;
    }
  }
}

.productsTable th {
  background-color: #27716d;
  color: #fff;
  font-weight: normal;
}

.productsTable td {
  border-bottom: 1px solid;
  text-align: center;
}

.summaryRow {
  td {
    border: 0;
  }

  td:nth-child(2) {
    text-align: start;
  }

  &:first-child {
    padding-top: 40px;
  }

  &:last-child {
    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4) {
      background-color: grey;
    }
  }
}

.notesTable td {
  padding: 10px 5px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  color: #27716d;
  font-size: 0.7rem;
  position: absolute;
  bottom: 15px;
  width: calc(100% - 40px);
  direction: ltr;

  & > div:first-child {
    line-height: 1.4rem;
  }
}

.footerLogo {
  max-width: 100px;
  margin: auto;
  display: flex;
}
.footer > * {
  flex-grow: 1;
  flex-basis: 100px;
}

.footer > *:nth-child(1) {
  text-align: left;
}

.footer > *:nth-child(2) {
  text-align: center;
}

.footer > *:nth-child(3) {
  text-align: right;
}

.schemaTable,
.productsTable {
  width: 100%;
}
